.root button {
	background-color: lightgreen;
}

.root {
	max-width: 80vw;
}

.messageUsername {
	font-weight: bold;
	margin-inline-end: 2em;
	margin-block-end: 0;
}

.messageTime {
	color: gray;
}

.message {
	margin-block-start: 0.25rem;
}
