# MacOS files
.DS_Store

# Django and Python
scrub_hub_project/**/__pycache__/
scrub_hub_project/*.sqlite3

# vite and Node
scrub_hub_vite/node_modules/
scrub_hub_project/vite_dist/

venv/
scrub_hub_project/venv
venv