<!-- report_list.html -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Patient Reports</title>
	</head>
	<body>
		<h1>Patient Reports</h1>
		<a href="{% url 'add_patient_report' patient %}">Add Report</a>
		<ul>
			{% if reports %} {% for report in reports %}
			<li>
				<strong>Medical Condition:</strong> {{ report.medical_condition }}<br />
				<strong>Date Recorded:</strong> {{ report.date_recorded }}
				<a href="{% url 'view_patient_report' report.id %}">View Details</a>
			</li>
			{% endfor %} {% else %}
			<li>No Reports available.</li>
			{% endif %}
		</ul>
	</body>
</html>
