@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors from the style guide */
body {
	--overcast: #d9e0e2;
}

.textInput {
	background-color: vaR(--overcast);
	border-radius: 0.5rem;
}
input {
	background-color: var(--overcast);
	border-radius: 0.5rem;
}
input::placeholder {
	color: #333;
}

.spinner {
	border: 0.5rem solid rgba(0, 0, 0, 0.1);
	border-top-color: #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%; /* Translate the element by -50% of its own width and height */
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.profilePicture {
	border-radius: 10000px;
	width: 4rem;
	height: 4rem;
	flex-shrink: 0;
	background-color: #555; /* Temporary until we have actual images. */
	display: inline-block;
	margin: 0.5rem;
}
